In [1]:
import os
import glob
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
path = (r"C:\Users\steff\Documents\DataScience Bootcamp\Bike\trips")
allFiles = glob.glob(os.path.join(path,"*.csv"))

In [3]:
np_array_list = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    np_array_list.append(df.values)

comb_np_array = np.vstack(np_array_list)
all_trips = pd.DataFrame(comb_np_array)

all_trips.columns = ['index','trip_id','bike_id','trip_duration','trip_start_time','trip_end_time',
         'from_station','from_station_id','from_station_mode','from_lat','from_long',
         'to_station','to_station_id','to_station_mode','to_lat','to_long' ]

In [4]:
# remove NaN and negative trip size
all_trips = all_trips.dropna(subset=['trip_duration'])
all_trips['trip_start_time'] = pd.to_datetime(all_trips['trip_start_time'])
all_trips['trip_end_time'] = pd.to_datetime(all_trips['trip_end_time'])

In [5]:
all_trips = all_trips[all_trips['trip_duration'].between(1, 1440, inclusive=True)]
df['trip_id'] = np.arange(10000, 10000+len(df.index), 1)
all_trips.to_pickle('all_trips.pkl')
all_trips.shape

(9728, 16)

In [6]:
all_trips.head()

,index,trip_id,bike_id,trip_duration,trip_start_time,trip_end_time,from_station,from_station_id,from_station_mode,from_lat,from_long,to_station,to_station_id,to_station_mode,to_lat,to_long
11,998695,20190311011,13022,23,2019-03-11 16:39:41,2019-03-11 17:02:49,Karl-Marx Allee,1465,station,52.5173,13.4413,Oranienplatz,1445,station,52.502,13.4162
12,998707,20190311012,13022,13,2019-03-11 17:13:53,2019-03-11 17:26:57,Oranienplatz,1445,station,52.502,13.4162,Maybachufer,1589,station,52.4896,13.4391
14,922715,20190311014,13023,75,2019-03-11 08:47:44,2019-03-11 10:03:18,Helsingforser Platz,1458,station,52.5078,13.4496,BIKE 13023,0,floating,52.4862,13.3765
18,451393,20190311018,13026,11,2019-03-11 23:06:53,2019-03-11 23:17:57,BIKE 13026,0,floating,52.5473,13.4094,U Senefelder Platz,1543,station,52.5329,13.4124
20,888466,20190311020,13028,29,2019-03-11 09:04:53,2019-03-11 09:34:05,Sonnenallee/Innstraße,1609,station,52.4806,13.4428,BIKE 13028,0,floating,52.5015,13.4111

In [7]:
all_trips.groupby([all_trips['trip_end_time'].dt.date])['trip_id'].size()

trip_end_time
2019-03-11    313
2019-03-12    543
2019-03-13    566
2019-03-14    439
2019-03-15    513
2019-03-16    377
2019-03-17    387
2019-03-18    494
2019-03-19    574
2019-03-20    732
2019-03-21    700
2019-03-22    726
2019-03-23    883
2019-03-24    813
2019-03-25    529
2019-03-26    545
2019-03-27    594
Name: trip_id, dtype: int64